.frame7 {
    width: 420px;
    display: flex;
    padding: 13px 10px 12px 10px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 6px;
    justify-content: center;
    background-color: rgba(60, 223, 194, 1);
  }
  .text15 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Nunito Sans;
    font-weight: 800px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }